.container {
  z-index: 100;
  width: 800px;
  display: flex;
  margin: auto;
  background-color: rgb(216, 214, 214);
  overflow: hidden;
  border-radius: 30px;
}
.is-hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.catImg {
  z-index: 1;
  display: block;
  margin-right: 20px;
}
.breed-select {
  width: 450px;
  margin: 40px auto;
}
.loader {
  margin: auto;
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #ff3d00 inset;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-text {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}
.error {
  font-size: 40px;
  text-align: center;
  line-height: 1.5;
}
